@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background: url('../img/background.webp');
    font-size: 14px;
    line-height: 1.6;
    font-family: "Montserrat",sans-serif;
    color: #fff;
}

.container {
    overflow: hidden;
    position: relative;
    width: 1440px;
    max-width: 90%;
    margin: 0 auto;   
}

.header {
    margin: 8px 0 0 0;;
    display: flex;
    width: 100%;
    height: 70px;
    position: absolute;
}

.header-logo {
    display: flex;
    margin-left: 10px;
    text-decoration: none;
    color: #fff;
}
.header-logo img {
    height: 50%;
}

.header-logo p {
    margin: 8px 0 0 10px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.main_header {
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
    font-weight: 600;
    

}

.grid-1 {
    width: 35%;
}

.grid-2 {
    width: 70%;
}

.listing {
    background-color: rgba(149, 149, 149, 0.088);
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    border-radius: 40px;
    overflow: auto;
}

.list-item {
    height: 70vh;
    flex: 1;
    position: relative;
}

.image {
    position: absolute;
    width: 85%;
    height: 90%;
    background-size: cover;
    border-radius: 40px;
    padding: 15px;
    align-items: center;
    margin: 20px;
}

.overlay {
    padding: 15px;
    position: absolute;
    width: 85%;
    height: 90%;
    display: flex;
    flex-direction: column; 
    transition: all 0.4s;
    border-radius: 40px;
    margin: 20px;
}

.overlay .text {
    padding: 10px;
    overflow: hidden;
}

.text a{
    color: #8db1ff;
}

.list-item:hover .overlay {
    backdrop-filter: blur(7px);
  }

  .list-item h3 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
  }

  .list-item a {
    text-decoration: none;
  }

.list-item p {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.listing-responsive {
    display: none;
}

@media (max-width: 1050px){
    .listing {
        background-color: rgba(0, 0, 0, 0);
        width: 100%;
    }

    .listing-item {
        text-align: justify;
    }
    
    .image {
        padding: 0px;
    }

    .overlay {
        padding: 0px;
    }

    .overlay .text {
        padding: 20px;
    }

    .grid-1 {
        width: 65%;
    }
    
}

@media (max-width: 768px), (max-height: 710px) {

    .main_header{
        margin-top: 70px;
        font-size: 25px;
    }
    .listing {
        display: none;
    }
    .listing-responsive{
        display: flex;
        flex-direction: column;
    }

    .list-item {
        padding: 0px;
        height: auto;
        margin: 20px;
    }

    .list-item h3 {
        text-align: center;
        font-weight: 550;
    }
    .list-item li {
        font-size: 15px;
        font-weight: 400;
    }
}